body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #32BEBC;
}
header {
  background: #333;
  color: #fff;
  padding: 2rem;
  text-align: center;
}
main {
  padding: 20px;
  max-width: 800px;
  margin: auto;
  background: white;
}
